<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="container">
<h1>Esta es la pagina de inicio - Bienvenidos</h1>
<p>Tienes las siguientes opciones disponibles: </p>
<a href="/alumno/formulario">Formulario de registro</a>
<p class="text-5xl">Puedes consultar los datos de los siguientes alumnos: </p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Fecha de nacimiento</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alumno : ${alumnos}">
        <td th:text="${alumno.codigo}"></td>
        <td th:text="${alumno.nombre}"></td>
        <td th:text="${alumno.apellido}"></td>
        <td th:text="${alumno.correo}"></td>
        <td th:text="${alumno.fechaNacimiento}"></td>
        <td>
            <a th:href="@{/alumno/informacion/{codigo}(codigo=${alumno.codigo})}" class="border rounded-md">Ver</a>
            <a th:href="@{/alumno/formulario/{codigo}(codigo=${alumno.codigo})}"
               class="border rounded-md">Actualizar</a>
            <form th:action="@{/alumno/eliminar/{codigo}(codigo=${alumno.codigo})}" method="post">
                <button class="btn btn-primary" type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>